footer ul li{
    display: inline;
    padding-right: 12.5% ;
    padding-left: 12.5%
  }
  #MB a{
    color: rgb(78, 26, 126);
    display: inline;
    font-size: 100%;
    font-family: unifrakturmaguntia, fantasy;
  }
    /* footer li a:hover{
    padding-right: 12.5% ;
    padding-left: 12.5% ;
  }   */

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    /* margin: auto; */
    float: right;
    text-align: center;
    font-family: arial;
  }
  .bo{
    float: left;
    width: 75%;
    padding-right: 5% ;
    padding-left: 5%;
    padding: 10%;
  }

  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    clear: both;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
    clear: both;
  }
  #nope{
    color: rgb(255, 255, 255);
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }
  .none{
    clear: both;
    width: 100%;

  }
  .hoho{
    font-family: calistoga;
    font-size: 150%;
  }
  .hoh{
    font-size: 150%;
  }